<ion-view view title="Cadastre-se Aqui">
    <ion-content>
         <div class="list">
    <label class="item item-input item-stacked-label">
              <span class="input-label">E-mail</span>
              <input type="text" placeholder="E-mail">
      </label>
              <label class="item item-input item-stacked-label">
             <span class="input-label">Senha</span>
             <input type="password" placeholder="senha">
        </label>
         <label class="item item-input item-stacked-label">
             <span class="input-label"> Comfirmar Senha</span>
             <input type="password" placeholder="senha">
        </label>
        </div>
         <div class="padding">
          <a class="button button-block button-positive">
             Entrar
         </a> 
         </div>
    </ion-content> 

</ion-view>