<ion-view view title="Cadastre-se Aqui">
    <ion-content>
         <div class="list">
    <label class="item item-input item-stacked-label">
              <span class="input-label"> E-mail</span>
              <input type="text" placeholder="E-mail" ng-model="email">
      </label>
              <label class="item item-input item-stacked-label">
             <span class="input-label"> Senha</span>
             <input type="password" placeholder="senha" ng-model="senha">
        </label>
       
        </div>
         <div class="padding">
          <a class="button button-block button-positive" ng-click="novoCadastro(email, senha)">
             Entrar
         </a> 
         </div>
    </ion-content> 

</ion-view>